.secondHalf {
  background-color: #e94f27;

  background-color: #f9c5ae;

  background-color: #66247e;

  background-color: #e5cb19;

  background-color: #385ba6;

  background-color: #33a9e0;

  background-color: #e2091c;
}
